@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    font-family: 'Indie Flower', cursive;
    background-color: lavender;
}

h1 {
    text-align:center;
    font-size: 28pt;
    font-weight: bold;
}


#chrisForm {
    background-color: blueviolet;
    border: 2px solid rgb(173, 124, 219);
    padding: 1rem;
    color: whitesmoke;
}

main {
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 18pt;
}

li {
    font-size: 18pt;
}

button {
    align-content: center;
    background-color: white;
    padding: 12px 28px;
    border: blueviolet;
    font-size: 14px;
    color: black;
}